.container {
  height: 100vh;
  background: #cecece;
  overflow: hidden;
  .wrapper {
    transform: scale(0.05, 0.95);
    transform-origin: center center;
    height: 100%;
    background: #222222;
    color: white;
    font-weight: 900;
  }
  img {
    opacity: 0;
    width: 100%;
  }
}
